body {
	background-color: #180133;
}
.start-game {
	display: flex;
	justify-content: center;
	margin-top: 9rem;
	flex-wrap: wrap;
}
.btn-choices {
	padding: 25px 25px;
	padding-left: 75px;
	padding-right: 75px;
	margin: 25px;

	border: solid 3px rgb(31, 3, 131);
	border-radius: 6px;
	cursor: pointer;
	background-color: #ff136ee5;
	color: white;
	font-size: 25px;
}
.btn-levels {
	display: flex;
	justify-content: center;
	margin-top: 19rem;
}
.card-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 8rem;
	align-items: stretch;
	max-width: 57%;
	margin-left: 20%;
	.cards {
		height: 8rem;
		width: 8rem;
		margin: 0.2rem;
		font-size: 3rem;
		color: rgb(57, 51, 97);
		background-color: rgb(57, 51, 97);
		cursor: pointer;
	}
	.cards-effect {
		animation: bounce 1s alternate;
		-webkit-animation: bounce 1s alternate;
	}
	@keyframes bounce {
		0% {
			transform: scale(1, 1) translateY(0);
		}
		10% {
			transform: scale(1.1, 0.9) translateY(0);
		}
		30% {
			transform: scale(0.9, 1.1) translateY(-100px);
		}
	}
	@-webkit-keyframes bounce {
		0% {
			transform: scale(1, 1) translateY(0);
		}
		10% {
			transform: scale(1.1, 0.9) translateY(0);
		}
		30% {
			transform: scale(0.9, 1.1) translateY(-100px);
		}
	}
}

// this animation was taken from  https://codepen.io/Trinca/pen/NAvpWa all the credits to Thomas Trinca

@font-face {
	font-family: neon;
	src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.container {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.neon-orange {
	font-family: neon;
	color: #fb4264;
	font-size: 9vw;
	line-height: 9vw;
	text-shadow: 0 0 3vw #f40a35;
	animation: neon-orange 1s ease infinite;
	-moz-animation: neon-orange 1s ease infinite;
	-webkit-animation: neon-orange 1s ease infinite;
}

.neon-blue {
	font-family: neon;
	color: #426dfb;
	font-size: 9vw;
	line-height: 9vw;
	text-shadow: 0 0 3vw #2356ff;
	animation: neon-blue 2s linear infinite;
	-moz-animation: neon-blue 2s linear infinite;
	-webkit-animation: neon-blue 2s linear infinite;
	-o-animation: neon-blue 2s linear infinite;
}

@keyframes neon-orange {
	0%,
	100% {
		text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fa1c16, 0 0 0.4vw #fed128,
			0.5vw 0.5vw 0.1vw #806914;
		color: #fed128;
	}
	50% {
		text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b, 0 0 5vw #800e0b, 0 0 0.2vw #800e0b,
			0.5vw 0.5vw 0.1vw #40340a;
		color: #806914;
	}
}

@keyframes neon-blue {
	0%,
	100% {
		text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe,
			0.5vw 0.5vw 0.1vw #147280;
		color: #28d7fe;
	}
	50% {
		text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 0.2vw #082180,
			0.5vw 0.5vw 0.1vw #0a3940;
		color: #146c80;
	}
}
