.clock-box {
	display: flex;
	position: relative;
	margin-left: 35px;
	margin-top: 35px;
	position: absolute;
}

.no-more-time-msg {
	color: white;
	font-size: 22px;
}

.time-numbers {
	position: absolute;
	margin: 56px;
	margin-top: 55px;
	color: white;
}
.btn-start-box {
	display: flex;
	justify-content: center;
	margin-top: 5rem;
	flex-wrap: wrap;
	.btn-start {
		padding: 25px 25px;
		padding-left: 75px;
		padding-right: 75px;
		margin: 25px;
		flex-wrap: wrap;
		border: solid 3px rgb(31, 3, 131);
		border-radius: 6px;
		cursor: pointer;
		background-color: #ff136ee5;
		color: white;
		font-size: 25px;
	}
}
.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #9034db;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	position: relative;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
