body {
	background-color: black;
}

.level-lines {
	display: flex;
	flex-direction: row;
}
#ufoParentDiv {
	position: relative;
	margin-left: 25px;
	display: flex;
	flex-direction: row;
	-webkit-animation: 1s linear 0s infinite alternate alliens-move;
	animation: 1s linear 0s infinite alternate alliens-move;
}

.game-over-youwin {
	display: flex;
	justify-content: center;
	margin-top: 25%;
}

.play-again {
	background-color: #2ff336;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 6px;
	margin-left: 5%;
	font-weight: bold;
}

.ufo-crafts {
	margin-left: 5rem;
	position: relative;
	height: 28px;
	width: 35px;
}
.ufocrafts-box {
	display: flex;
}
.canvas {
	display: flex;
	justify-content: center;
}

.space-hero {
	margin: 0 auto;
	width: 50%;
}
.hero-hearts {
	display: flex;
	flex-direction: row;
	margin-left: 2%;
}
.laser {
	transform: rotate(180deg);
	position: absolute;
	animation: movingBottomToTop 0.5s linear;
	animation-direction: alternate;
}

.enemy-laser {
	animation: 1s linear enemy-laser;
	animation-direction: alternate;
	top: 0px;
	position: absolute;
	margin-left: 25px;
	top: -58px;
}

@keyframes enemy-laser {
	0% {
		top: 0px;
	}

	100% {
		top: 655px;
	}
}

@keyframes alliens-move {
	0% {
		margin-left: 20px;
	}

	100% {
		margin-left: 40px;
	}
}

@keyframes movingBottomToTop {
	0% {
		top: 255px;
	}

	100% {
		top: 0px;
	}
}

.background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
