.btn-end {
	padding: 25px 25px;
	padding-left: 75px;
	padding-right: 75px;
	margin: 25px;
	border: solid 3px rgb(31, 3, 131);
	border-radius: 6px;
	cursor: pointer;
	background-color: #ff136ee5;
	color: white;
	font-size: 25px;
}
