.games-home-list {
	// height: ;
	padding: 25px 25px;
	// padding-left: 35px;
	// padding-right: 35px;
	background-color: rgb(10, 67, 200);
	margin-left: 225px;
	margin-top: 25rem;
	height: 12rem;
	border: solid 3px rgb(15, 2, 61);
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 25px;
	.router-links {
		text-decoration: none;
	}
}
div.games-home-list {
	content: url('https://i.ibb.co/gDGpPJ8/abstract-background-abstract-oil-painting-abstract-painting-1629236.jpg');
}

.box-home-gamelist {
}
